<div class="main">
  <h4>Czy na pewno chcesz wykonać przelew?</h4><br>
  <h6>Konto nadawcy: <strong>{{ data.accountNumberFrom }}</strong></h6>
  <h6>Konto odbiorcy: <strong>{{ data.accountNumberTo }}</strong></h6>
  <h6>Kwota: <strong>{{ data.money }}</strong></h6>
  <h6 *ngIf="data.bankName !== undefined">E-mail: <strong>{{ data.email }}</strong></h6><br>
  <h6 *ngIf="data.bankName !== undefined">Bank: <strong>{{ data.bankName }}</strong></h6><br>
  <div style="display: flex; justify-content: center;">
      <button class="btn btn-success" (click)="accept()">Tak</button>
      <button class="btn btn-dark" (click)="cancel()">Anuluj</button>
  </div>
</div>
