<p>transfer-details works!</p>
<h1>Przelewy dla konta nr: <span class="badge badge-secondary"> {{ accountNumber }}</span></h1>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nr</th>
      <th scope="col">Nr konta nadawcy</th>
      <th scope="col">Nr konta odbiorcy</th>
      <th scope="col">Przelane środki</th>
      <th scope="col">Waluta</th>
      <th scope="col">Data zgłoszenia</th>
      <th scope="col">Data wykonania</th>
      <th scope="col">Status transferu</th>
    </tr>
  </thead>

    <tr *ngFor="let transfer of transfersForOneAccountNumber; let i=index">
      <td>{{ i + 1 }}</td>
      <td>{{ transfer.firstAccountNumber }}</td>
      <td>{{ transfer.secondAccountNumber }}</td>
      <td>{{ transfer.money }}</td>
      <td>{{ transfer.currency }}</td>
      <td>{{ transfer.dataOpenTransfer }}</td>
      <td>{{ transfer.dataFinishTransfer }}</td>
      <td>{{ transfer.transferStatus }}</td>
    </tr>
</table>
