<h1 style="text-align: center">Lista rachunków</h1>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nr</th>
      <th scope="col">Numer konta</th>
      <th scope="col">Pieniądze</th>
      <th scope="col">Waluta</th>
      <th scope="col">Właściciel</th>
      <th scope="col">Edycja</th>
      <th scope="col">Usunięcie</th>
    </tr>
  </thead>

    <tr *ngFor="let account of accounts; let i=index">
      <td (click)="onClickField(account.accountNumber)">{{ i + 1 }} </td>
      <td (click)="onClickField(account.accountNumber)">{{ account.accountNumber }}</td>
      <td (click)="onClickField(account.accountNumber)">{{ account.money | number:'1.2-2' }}</td>
      <td (click)="onClickField(account.accountNumber)">{{ account.currency }}</td>
      <td (click)="onClickField(account.accountNumber)">{{ account.ownerName }}</td>
      <td><button type="submit" class="btn btn-warning" (click)="editAccount(account.accountNumber)">Edytuj</button></td>
      <td><button type="submit" class="btn btn-danger" (click)="deleteAccount(account.accountNumber)">Usuń</button></td>
    </tr>
</table>

