<div class="container">
  <h1>Formatka rachunku</h1>
  <form [formGroup]="accountForm">

    <div class="form-group">
      <label for="accountNumber">Numer rachunku</label>
      <input type="text" class="form-control" id="accountNumber" formControlName="accountNumber">
    </div>

    <div class="form-group">
      <label for="money">Pieniądze</label>
      <input type="text" class="form-control" id="money" formControlName="money">
    </div>

    <div class="form-group">
      <label for="currency">Waluta</label>
      <input type="text" class="form-control" id="currency" formControlName="currency">
    </div>

    <div class="form-group">
      <label for="ownerName">Właściciel rachunku</label>
      <input type="text" class="form-control" id="ownerName" formControlName="ownerName">
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

  </form>
</div>
